altgraph==0.17.2
black==22.12.0
click==8.1.3
mypy-extensions==0.4.3
pathspec==0.10.3
platformdirs==2.6.0
psutil==5.9.2
pyinstaller==5.4.1
pyinstaller-hooks-contrib==2022.10
subprocess32==3.5.4
tomli==2.0.1
